@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

/** {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   /* background-color: #34495e;*/
}*/

body {
    background-color: #34495e;
    font-family: 'Roboto', sans-serif;

    /*background: cyan blue;*/
}
label{
    background-color: #353535;
    width: 250px;
}
input{
    background-color: #fff;
}
.form-container {
    /*display: flex;*/
    width: 100%;
    justify-content: center;
    align-items: center;
   /* padding-top: 50px;*/
   background-color: #34495e;
   padding-top: 0px;

}
.form-box{
    background-color: #353535;
}

.form-container .form-wrap {
    background: #fff;
   /* width: 100%;*/
   /* padding: 15px 20px;*/
}

.form-container .form-wrap  {
    text-align: center;
    margin: 0px 0px 20px;
    font-size: 19px;
}

.form-container .form-wrap .form-box {
    margin: 0px 0px 15px;
}

.form-container .form-wrap .form-box input[type="text"]{
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #353535;
    width: 30%;
}

.form-container .form-wrap .form-submit {
   /* display: flex;*/
    justify-content: center;
    background-color: #353535;
    padding-bottom: 50px;
   /* padding-top: 50px;*/
}


.form-container .form-wrap {
    /*padding: 4px 10px;*/
    border: none;
    border-radius: 2px;
    background: #353535;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    font-size: 16px;
}
.btn-success{
    background-color: #1c6288;
    font-size: 19px;
    border-radius: 5px;
    padding: 7px 14px;
    border:1px solid #daf1ff;
}
div{
    padding-top: 5px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
h1{
    text-align: center;
    background-color: #353535;
    padding-bottom: 60px;
}