{% load static %}




<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Student Detail Panel </title>
    <link rel="stylesheet" type="text/css" href= "{% static '/css/stu_detail.css' %}" >

   

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>



<style type="text/css">
    


</style>


</head>	
<body>

   
 


 {% include 'pages/navbar_ver.html' %}
<div class="form-container">

    
    {% for i in stu_details %}



    <form action="#" method="POST" class="form-wrap">

        <h1>Student Detail's Panel</h1>
        <div class="form-box">
            <label for="f-name"> University roll no:</label>
            <input id="f-name" type="text" value="{{i.university_roll_num}}
" placeholder="Enter First Name" required />
        </div>
        <div class="form-box">
            <label for="f-name"> First Name:</label>
            <input id="f-name" type="text" value="{{i.first_name}}" placeholder="Enter First Name" required />
        </div>
        <div class="form-box">
            <label for="l-name"> Last Name:</label>
            <input id="l-name" type="text"  value="{{i.last_name}}" placeholder="Enter Last Name" required />
        </div>
        <div class="form-box">
            <label for="e-mail">Personal Email Address:</label>
            <input id="e-mail" type="text"  value="{{i.personal_email}}" placeholder="Enter personal Email" required />
        </div>
        <div class="form-box">
            <label for="oe-mail"> Official Email Address:</label>
            <input id="oe-mail" type="text" value="{{i.official_mail}}" placeholder="Enter official Email" />
        </div>
        <div class="form-box">
            <label for="no">Phone Number:</label>
            <input id="no" type="text" value="{{i.phone_num}}" placeholder="Enter Phone Number" required />
        </div>

        <div class="form-box">
            <label for="add">Aadhaar Numer:</label>
            <input id="add" type="text" value="{{i.aadhar_num}}" placeholder="Enter Aadhaar Number" required />
        </div>
        <hr>
        <div class="form-box">
            <label for="father">Father's Full Name:</label>
            <input id="father" type="text" value="{{i.father_name}}" placeholder="Enter Name" required />
        </div>
        <div class="form-box">

            <label for="father-mail">Official Email Address:</label>
            <input id="father-mail" type="text" value="{{i.father_official_mail}}" placeholder="Enter official Email Address" />

             
        </div>
        <hr>
        <div class="form-box">
            <label for="maa">Mother's Full Name:</label>
            <input id="maa" type="text" value="{{i.mother_name}}" placeholder="Enter Name" required />
        </div>
        <div class="form-box">

            <label for="mother-mail">Official Email Address:</label>
            <input id="mother-mail" type="text" value="{{i.mother_official_mail}}" placeholder="Enter official Email Address" />
        </div>
        <hr>
        <div class="form-box">
            <label for="maa">Full Address:</label>
            <input id="maa" type="text" value="{{i.address}}" placeholder="Enter Full Address" required />
        </div>
        <div class="form-box">
            <label for="sibling">Sibling Full Name:</label>
            <input id="sibling" type="text" value="{{i.sibling_name}}" placeholder="Enter Name" />
        </div>
        <div class="form-box">
            <label for="sibling-mail"> Official Email:</label>
            <input id="sibling-mail" type="text" value="{{i.sibling_mail}}" placeholder="Enter official Email" />
        </div>
        <div class="form-box">
            <label for="sibling_no">Sibling's Contact Number:</label>
            <input id="sibling_no" type="text" value="{{i.sibling_num}}" placeholder="Enter Phone Number"  />
        </div>

        <!-- <div class="form-submit" >
            <input type="submit" class="btn btn-success" value="Submit Details" />
        </div> -->
        
    </form>
    {%endfor%}
</div>











</body>
</html>	